@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Noto Sans Thai", sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.ant-input.PhoneInput {
  display: flex;
}

.PhoneInputInput:focus {
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.ant-btn-primary,
button,
[type="button"] {
  background-color: #2a4d69;
  @media screen and (max-width: 394px) {
    font-size: 8px !important;
    height: 24px !important;
  }
}

.ant-modal-title {
  font-size: 24px !important;
  font-weight: bold !important;
  @media screen and (max-width: 394px) {
    font-size: 16px !important;
  }
}

li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.ant-drawer-title {
  font-size: 24px !important;
  padding-left: 1rem !important;
  @media screen and (max-width: 394px) {
    font-size: 20px !important;
  }
}
